## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num = 7
print(num)

7

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
CONSTANT = 8.5
type(CONSTANT)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(num)

int

4) Crear una variable que contenga tu nombre

In [4]:
my_name = 'Anabella'

5) Crear una variable que contenga un número complejo

In [7]:
complex_num = 8.9j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type (complex_num)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [55]:
PI = 3.1416
type(PI)

float

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
string = 'True'
boolean = True
print (type(string),type (boolean))

<class 'str'> <class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [56]:
print (type(string),type (boolean))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
sum = 8 + 1.5
print (sum, type (sum))

9.5 <class 'float'>

11) Realizar una operación de suma de números complejos

In [58]:

c1 = 8 + 1j
c2 = 1 + 8j
print( c1, c2)
complex_sum = c1 + c2
complex_sum

(8+1j) (1+8j)

(9+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
sum_cr= 8 + 1j
sum_cr

(8+1j)

13) Realizar una operación de multiplicación

In [24]:
multiplicacion = 2 * 4
multiplicacion

8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [28]:
pontencia = 2**8
pontencia

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
cociente = 27/4
cociente

6.75

16) De la división anterior solamente mostrar la parte entera

In [34]:
ent_cociente = int(cociente)
ent_cociente

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [59]:
print ( 27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [60]:
number_27 = 6 * 4 + 3
number_27

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [61]:
alfa_num = 'ana' + 'bella'
alfa_num

'anabella'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [43]:
two_number = 2
two_str = '2'
print (two_number == two_str)
print( type(two_str), type(two_number))

False
<class 'str'> <class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [46]:
two_str = int (two_str)
print (two_number == two_str)
print( type(two_str), type(two_number))

True
<class 'int'> <class 'int'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [50]:
a = float('3.8')
a
type(a)

float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [51]:
b = 3
b -= 1
b

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [54]:
2 + 2

4

26) Realizar una operación válida entre valores de tipo entero y string